{% extends "base.html" %}

{% block content %}
<h1>Readings</h1>
<table class="table table-hover">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Weight</th>
    <th scope="col">Blood Pressure</th>
    <th scope="col">Temperature</th>
    <th scope="col">Oxygen Level</th>
    <th scope="col">Pulse</th>
    <th scope="col">Timestamp</th>
    </thead>
    <tbody>
        {% for reading in readings %}
        <tr>
            <th scope="row">{{ reading.id }}</th>
            <td>{{ reading.weight }}</td>
            <td>{{ reading.blood_pressure }}</td>
            <td>{{ reading.temperature }}</td>
            <td>{{ reading.oxygen_level}}</td>
            <td>{{ reading.pulse }}</td>
            <td>{{ reading.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}